.error, .custom_error {
	color: #dc3545;
}

/*parsley*/
.parsley-errors-list {
	padding-top: .3125rem;
	padding-left: 0;
	list-style: none;
	font-size: .875rem;
	color: #ef5350;
}

/*navigation bar*/
.navigation-bar {
    background-color: #2c9676; /* nav background color */
    width: 100%;
}

nav.navbar {
    border: 0;
    border-radius: 0;
    clear: both;
    margin: 0 auto;
    min-height: auto;
    width: 100%;
    padding-left: 0px;
}

.navbar-toggler {
    display: none;
}

.navbar-nav {
    list-style: none;
    padding-left: 0;
}

.navbar-nav li {
    float: none;
    padding: 0px 10px; /* nav item padding */
    display: inline-block;
}

.navbar-nav li a {
    color: #fff; /* nav item color */
    display: inline-block;
    padding: 8px 25px;
    font-weight: bold;
    line-height: normal;
}

.navbar-nav li a:hover, .navbar-nav li a.active {
    background: #35b58e; /* nav hover, active background */
    border-radius: 20px;
    text-decoration: none;
}

@media only screen and (max-width: 570px) {
    nav.navbar {
        padding-left: 20px;
    }

    .navbar-toggler, .collapse {
        display: block;
    }

    .collapse {
        display: none;
    }

    .navbar-toggler {
        border-radius: 5px;
        float: right;
        margin-right: 15px;
        border: 1px #fff solid;
        background: transparent;
        padding: 0px 5px;
        outline: none;
    }

    .bar1, .bar2, .bar3 {
        background-color: #fff;
        display: block;
        margin: 6px 0;
        transition: 0.4s;
        width: 30px;
        height: 2px;
    }

    .navbar-collapse {
        background: #5aa0a0;
        position: absolute;
        top: 100%;
        float: left;
        left: 0;
        width: 100%;
        z-index: 99;
    }

    .navbar-nav {
        padding: 0;
        padding-top: 5px;
        margin: 0 auto;
    }

    .navbar-nav li {
        border-top: 1px #fff solid; /* border each item */
        border-radius: 0;
        display: block;
        line-height: normal;
        margin: 0 auto;
        padding: 0px;
        width: 100%;
    }

    .navbar-nav li a:not(.active) {
        display: block;
        padding: 6px 22px;
        margin: 0 auto;
        line-height: 32px;
        text-align: left;
        width: 100%;
        /*background-color: red;*/
    }

    .nav-item:hover {
        background: #72bab9;
        border-radius: 0px;
        text-decoration: none;
    }

    .navbar-nav li a.active {
        background: #72bab9;
        border-radius: 0px;
        text-decoration: none;
        display: block;
        padding: 6px 22px;
        margin: 0 auto;
        line-height: 32px;
        text-align: left;
        width: 100%;
    }
}